<header class="ui middle aligned center aligned stackable grid segment container">
  <div class="eight wide column">
    <h1 class="ui header">  Department of Computing &amp; Mathematics </h1>
    <h2 class="ui header subtitle">  BSc (Hons) the Internet of Things </h2>
  </div>
  <div class="eight wide column">
    <img class="ui centered medium image" src="/assets/images/wit-crest.png">
  </div>
</header>