  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="Internet of Things, Waterford Institute of Technology, BSc in Applied Computing in the Internet of Things">
  <script src="../assets/js/jquery-2.1.3.min.js"></script>
  <script src="../assets/js/semantic.min.js"></script>
  <link rel="shortcut icon" href="../../assets/static/images/favicon.ico">
  <link rel="stylesheet" href="../assets/css/semantic.min.css">
  <link rel="stylesheet" href="../../style/main.css">
  <title>IoT</title>
