<section class="ui centered middle aligned grid segment container">
    <div class="sixteen wide center aligned column">
      <h4> Supported by leading edge research at... </h4>
      <div class="ui divider"></div>
    </div>
    <div class="five wide column">
      <img class="ui medium image" src="/assets/images/tssg.png">
    </div>
    <div class="five wide column">
      <img class="ui medium image" src="/assets/images/ctrg.png">
    </div>
    <div class="five wide column">
      <img class="ui medium image" src="/assets/images/automotive.png">
    </div>
  </row>
</section>