doctype html
html
  head
    include jadelayouts/_head-section.html
  body
    include jadelayouts/_header.html
    .mainbody
      include jadelayouts/_hero.html
    include jadelayouts/_strands.html
    include jadelayouts/_research.html
    include jadelayouts/_footer.html