doctype html
html
  head
    include layouts/_head-section.html
  body
    include layouts/_header.html
    .mainbody
      include layouts/_hero.html
    include layouts/_strands.html
    include layouts/_research.html
    include layouts/_footer.html