<div class="ui container">
  <div class="ui three stackable cards">
    <a class="ui card" href="{{contentLink}}">
      <div class="content programming-style">
        <div class="right floated meta"> <i class="large settings icon"></i></div>
        <h1 class="header"> Programming </h1>
      </div>
      <div class="ui bordered rounded image">
        <img src="/assets/images/iot/programming/programming-1.png">
      </div>
      <div class="content">
        <div class="description">
          Learn a broad range of programming and problem solving skills, including exciting new platforms,
          software tools and languages. Use these skills to build apps for mobile, cloud and device based IoT applications.
          Evolve a porfolio of facinating aplications.
        </div>
      </div>
      </a>
    </div>
  </div>
</div>