<div class="ui vertical masthead grid stackable segment container">

  <div class="welcome eight wide middle aligned blue column segment">
      <p>
        BACHELOR OF SCIENCE (HONOURS)
      </p>
      <h2>
        APPLIED COMPUTING IN THE INTERNET OF THINGS
      </h2>
      <h2>
        Program your World!
      </h2>
      <p>
        An exciting new level 8 Honours Degree for 2015. Combine Programming and Electronics and learn how
        to code cool devices, places and things. Be part of the next wave of innovation in Computing
      </p>
  </div>
  <div class="eight wide column">
    <div class="ui embed" data-source="vimeo" data-id="125292332" data-placeholder="/images/vimeo-example.jpg">
    </div>
  </div>

</div>